@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Inter:wght@400;500;600;700&display=swap');

:root {
  --magenta : rgba(238, 29, 82, 0.9);
  --cyan : rgb(105, 201, 208);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    /*height: 100vh;*/
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%
}  

div.headerRight {
  width: 18%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

div.headerLeft {
  width: 18%;
}

div.headerCenter {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header.redirect {
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-family: "Boogaloo", sans-serif;
}

/* Slightly altered default h2 tag. */
h2 {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

span {
    color: var(--magenta);
}

button {
    border-radius: 10px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: whitesmoke;
    background-color: var(--magenta);
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    margin: 10px;
}

button:hover {
    background-color: var(--cyan);
}

input {
    font-weight: 400;
    width: 70%;
    height: 40px;
    margin: 0 auto;
    padding: 3px 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    border: 1px solid transparent; /* Adding transparent border to avoid weird movement whenever border is added. */
}

input[type=text]:focus {
    border: 1px solid turquoise;
}

label {
    width: 75%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
}

.formfields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 390px;
    width: 390px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(-70deg, var(--cyan), 60%, var(--magenta));
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}
@media screen and (max-width:900px) {
  button {
    width: 190px;
    height: 60px;
  }
  div.headerLeft {
  display: none;
}
  header {
    justify-content: center;
    margin-bottom: 20px;
  }

  div.headerRight {
  margin-right: 90px;
}
  body {
  justify-content: center;
  gap: 60px;
  }
}
@media screen and (max-width:700px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 18px;
    }

  header {
    gap: 95px;
  }
  
  div.headerRight {
  width: 30%;
  justify-content: center;
  margin-right: 20px;
}

div.headerLeft {
  display: none;
}

div.headerCenter {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  
  button {
    font-size: 16px;
    border-radius: 15px;
    width: 130px;
  }


    #app {
        width: 320px;
    }
}
