@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Inter:wght@400;500;600;700&display=swap');

:root {
  --magenta : rgba(238, 29, 82, 0.9);
  --cyan : rgb(105, 201, 208);
}
header {
    font-size: 48px;
    font-family: "Boogaloo", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

#tiktok_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

button {
  background: white;
  cursor: pointer;
}
#loadbutton{
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;

  /* put the colors in CSS variables */
  --ttmagenta: rgba(238, 29, 82, 0.8);

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
}

#continue {
  background-color: var(--ttmagenta);
  color: white;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  width: 170px;
  height: 45px; 
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
}
#continue:hover {
    background-color: var(--cyan);
}

.fa-redo-alt {
  color: rgba(238, 29, 82, 0.8);
  font-size: 60px;
  transform: rotate(45deg) scaleX(-1);
}

div.video {
  width: 325px;
  border-radius: 10px;
  background-color: var(--ttmagenta);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}


blockquote {
  border-style: solid;
  border-color:  var(--ttmagenta);
  border-width: 2px;
  border-radius: 10px;
  background-color:var(--ttmagenta);
}

iframe {
  margin-top: -1px;
  margin-left: -1px;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
}

div.footerLeft {
  flex: 1;
}

div.footerCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.footerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

@media screen and (max-width:900px) {

  
  header {
    margin-bottom: 50px;
    font-size: 32px;
  }

  .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .footerCenter {
    margin-bottom: 25px;
  }

    div.video {
    border-radius: 15px;
  }
  
  #continue {
    width: 180px;
    height: 60px;
    border-radius: 10px;
  }
}

@media screen and (max-width:700px) {
  header {
    margin-bottom: 40px;
  }
    .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
    .footerLeft {
    width: 0px;
  }

  div.video {
    border-radius: 20px;  
    padding-bottom: 45px;
  }
  
  #continue {
    width: 145px;
    height: 55px;
    border-radius: 20px;
    font-size: 16px;
  }
}